## Heart failure predict

In [1]:
import pandas as pd
import numpy as np
import sklearn as sk

In [9]:
df = pd.read_csv('data/heart_failure_clinical_records_dataset.csv', sep=',')

In [11]:
df.head(5)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1

In [12]:
df.shape

(299, 13)

In [13]:
df.columns

Index(['age', 'anaemia', 'creatinine_phosphokinase', 'diabetes',
       'ejection_fraction', 'high_blood_pressure', 'platelets',
       'serum_creatinine', 'serum_sodium', 'sex', 'smoking', 'time',
       'DEATH_EVENT'],
      dtype='object')

#### Variáveis
| Var                      |Desc                                              |
| ---                      |----                                              |  
| 'age'                    |idade da pessoa                                   |      
| 'anaemia'                |indica anemia na pessoa(0-não ; 1-sim)                                               
|'creatinine_phosphokinase'|creatina quinase                                  |
|'diabetes'                |indica se a pessoa tem diabetes(0-não ; 1-sim)    |
|'ejection_fraction'       |fração de ejeção do coração(em %)
|'high_blood_pressure'     |indica se a pessoa tem pressão alta(0-não ; 1-sim)|
|'platelets'               |
|'serum_creatinine'        |
|'serum_sodium'            |
|'sex'                     |sexo da pessoa(0 e 1)                             |
|'smoking'                 |indicador se a pessoa fuma(0-não ; 1-sim)         |
|'time'                    | 
|'DEATH_EVENT|             |indica se a pessoa morreu(0-não ; 1-sim)          |

# Entendendo algumas variáveis
## Creatina Quinase(creatinine_phosphokinase)'
 A creatina quinase (CK) é uma enzima encontrada no coração, no cérebro, nos músculos esqueléticos e em outros tecidos. Enzimas são proteínas que aceleram as funções normais das células. Nas células musculares esqueléticas e cardíacas, a maior parte da energia é usada para a contração muscular.
### O que significa o resultado do exame
 Uma CK aumentada, ou que se eleva a partir do primeiro exame, em geral indica que houve lesão do coração ou de outros músculos. Pode também indicar uso intenso de músculos. Se o médico suspeita de infarto do miocárdio e a CK estiver alta, em geral irá pedir um exame mais específico de lesão cardíaca, como a troponina.

Referência: [Link](https://labtestsonline.org.br/tests/creatina-quinase)

## Fração de Ejeção(ejection_fraction)
 Fração de Ejeção (EF) é a medida, expressa em porcentagem, da quandiade sangue que o ventriculo esquerdo bombeia para fora do coração em cada contração. Uma fração de ejeção de 60% significa que 60% da quantidade total de sangue no ventriculo esquerdo é bombeado para fora do coração em cada batida.
 Isso indica se o coração esta funcionando corretamente, e pode ajudar no diagnóstico e rastreio de falhas no coração 
### O que é normal
 - Fração de ejeção normal fica entre 50% e 70%
 - Você pode ter uma fração de ejeção normal e  ainda ter falhas no coração(chamado de HFpEF ou falha no coração com ventrilo esquedo preservado).
 - Se o musculo do coração ficar tão espesso e duro que o ventriculo esquerdo "guarde" uma quantidade de sangue menor do que o usual, ainda assim pode parecer que a ejeção de fração esteja normal. Mas na realidade, a quantidade de sangue que bombeada não é suficiente para as necessidades do corpo.

Referencia[Link](https://www.heart.org/en/health-topics/heart-failure/diagnosing-heart-failure/ejection-fraction-heart-failure-measurement)

## Plaquetas(platelets)
 Estruturas que estão presentes no sangue,  essas estruturas atuam impedindo a ocorrência de hemorragias e ajudando no processo de coagulação.
### Quantidade de plaquetas no organismo
 Normalmente, o organismo humano possui de 150 mil a 450 mil plaquetas por microlitro de sangue. Desse total , 70% estão localizadas na circulação e 30% estão presentes no baço.
 
Referencia:[Link](https://mundoeducacao.uol.com.br/biologia/plaquetas.htm#:~:text=As%20plaquetas%2C%20tamb%C3%A9m%20chamadas%20de%20tromb%C3%B3citos%2C%20s%C3%A3o%20estruturas%20presentes%20no,partir%20de%20c%C3%A9lulas%20denominadas%20megacari%C3%B3citos.)